

.site-header.hidden-xs{
    display: flex;
    margin-bottom: -5px;
    justify-content: center;
}

.site-brand, .site-logo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
}

.jl_logo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
}

.left_small_para{
    text-align: center;
    /* line-height: 1.6; */
    /* font-size:10px; */
    justify-content: center;
    font-weight: lighter;
    margin-right: 0px;
    margin-left: 0px;
}

.logo_text{
    text-align: center;
    line-height: 1.1;
    font-size:12px;
    color:black;
    /* justify-content: center; */
    font-weight: lighter;
    margin-right: 0px;
    margin-left: 0px;
}
.sidebar{
    padding: 30px 10px 30px 10px;
    width: 225px;
}

.nav>li>a{
    padding: 2px 33px;
}


.pinkoi{
    margin-top: 0px;
    margin-left: 20px;
}

.pinkoi:hover{
    transition: 0.5s;
    
}

.inbloom{
    font-size: 10px;
    
    
}

.btn_course{
    
    vertical-align: bottom;
    /* width:70px; */
    border-radius: 20px;
    padding:2px 20px;
}

.gmap{
    border-width: 2px;
}

.swing{
    animation-duration: 1.5s;
}
/* .grid-item .project-description { */
#jl_descript{
    opacity: 0.8;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background: hsla(0,0%,100%,0.4);
    position: absolute;
    width: 90%;
    
    bottom: 0;
    top: 75%;
    margin: 5%;
    text-decoration: none;
    height: 18%;
}

#jl_descript:hover{
    opacity: 1;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background: hsla(0,0%,100%,.7);
    position: absolute;
    width: 90%;
    
    bottom: 0;
    top: 75%;
    margin: 5%;
    text-decoration: none;
    height: 18%;
}


/* .grid-item .project-description .project-text-holder */


#jl_cat {
    display: table;
    position: absolute;
    text-align: center;
    vertical-align: bottom;
    width: 100%;
    height: 25%;
    overflow: hidden;
    opacity: 1;
    bottom: 0px;
}

/* #jl_descript>.project-text-holder>.project-text-inner>h3{
    color: rgb(53, 52, 52);
    font-weight: lighter;
}
#jl_descript>.project-text-holder>.project-text-inner>h4{
    color: rgb(53, 52, 52);
    
    font-weight: lighter;
}
#jl_descript>.project-text-holder>.project-text-inner>h5{
    color: rgb(53, 52, 52);
    font-weight: lighter;
}
#jl_descript>.project-text-holder>.project-text-inner>h6{
    color: rgb(53, 52, 52);
    font-weight: lighter;
} */

#jl_descript *{
    color: rgb(53, 52, 52);
    font-weight: lighter;
}

.project-description *{
    color: rgb(53, 52, 52);
    font-weight: lighter;
}